p {
    margin-block-start: 12px;
    text-align: center;
}

#hint-text {
    animation: var(--animation-shake-x);
    animation-timing-function: var(--ease-squish-1);
    animation-iteration-count: 3;
}

#streak-counter {
    position: absolute;
    bottom: 10vh;
    right: 10vw;
    border-width: var(--border-size-1);
    border-color: var(--yellow-6);
    color: var(--yellow-2);
}