@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://unpkg.com/open-props@1.0.11/open-props.min.css');

button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    outline: inherit;
}

#keyboard {
    --num-rows: 5;
    --keyboard-bg-color: #F6F6F6;
    --keyboard-button-word-color: #868888;
    --keyboard-button-letter-color: #60C1B6;
    --keyboard-button-bg-color: #FFFFFF;

    --keyboard-button-shadow: 0 2px 15px rgb(0 0 0 / 0.05);

    --keyboard-padding: 24px;
    --keyboard-button-border-radius: 0.6vw;
    --keyboard-border-radius: 24px;
    --keyboard-button-margin: 4px;
    --keyboard-button-padding: 0.6vw;

    display: grid;
    grid-template-rows: repeat(1fr, var(--num-rows));

    background: var(--keyboard-bg-color);
    border-radius: var(--keyboard-border-radius);

    width: 90vw;
    padding: var(--keyboard-padding);
    margin: 24px;

    animation: var(--animation-fade-in) forwards, var(--animation-slide-in-down);
    animation-timing-function: var(--ease-squish-3);
    animation-duration: 1s;
}

.keyboard-row {
    display: flex;
}

.keyboard-button {
    display: grid;
    flex-grow: 1;
    place-items: center;
    font-family: 'Inter', sans-serif;
    font-size: 1.5vw;
    text-transform: uppercase;
    font-weight: 900;
    text-transform: uppercase;
    padding: var(--keyboard-button-padding);
    margin: var(--keyboard-button-margin);
    color: var(--keyboard-button-letter-color);
    border-radius: var(--keyboard-button-border-radius);
    box-shadow: var(--keyboard-button-shadow);
    background-color: var(--keyboard-button-bg-color);
}

.keyboard-button:hover {
    box-shadow: 0 2px 15px rgb(0 0 0 / 0.1);
}

.keyboard-button:active,
.keyboard-button:focus {
    box-shadow: 0 2px 20px rgb(0 0 0 / 0.2);
}

.jiggle {
    /* animation: var(--animation-bounce); */
    animation: var(--animation-shake-x);
    animation-timing-function: var(--ease-squish-1);
    animation-iteration-count: infinite;
}

.keyboard-word-button {
    color: var(--keyboard-button-word-color);
}