@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

#keyboard {
    --num-rows: 5;
    --keyboard-bg-color: #F6F6F6;
    --keyboard-button-word-color: #868888;
    --keyboard-button-letter-color: #60C1B6;
    --keyboard-button-bg-color: #FFFFFF;

    --keyboard-button-shadow: 0 2px 15px rgb(0 0 0 / 0.05);

    --keyboard-padding: 24px;
    --keyboard-button-border-radius: 0.6vw;
    --keyboard-border-radius: 24px;
    --keyboard-button-margin: 4px;
    --keyboard-button-padding: 0.6vw;

    display: grid;
    grid-template-rows: repeat(1fr, var(--num-rows));
    font-family: 'Inter', sans-serif;
    font-size: 1.5vw;
    text-transform: uppercase;
    font-weight: 900;

    background: var(--keyboard-bg-color);
    border-radius: var(--keyboard-border-radius);

    width: 90vw;
    padding: var(--keyboard-padding);
    margin: 24px;
}

.keyboard-row {
    display: flex;
}

.keyboard-button {
    display: grid;
    flex-grow: 1;
    place-items: center;
    padding: var(--keyboard-button-padding);
    margin: var(--keyboard-button-margin);
    color: var(--keyboard-button-letter-color);
    border-radius: var(--keyboard-button-border-radius);
    box-shadow: var(--keyboard-button-shadow);
    background-color: var(--keyboard-button-bg-color);
}

.keyboard-word-button {
    color: var(--keyboard-button-word-color);
}